.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: black;
}
.icons{
    display: flex;
    margin: 40px 20px 0;
    margin-left: 30px;
}
.icons img{
    width: 30px;
    cursor: pointer;
}
.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
    color: white;
    font-size: large;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-link:hover{
    text-decoration: underline;
}
.copyright-text{
    font-size: 14px;
    color: #6d6d6d;
    text-align: center;
}

@media (max-width: 800px) {
    .footer ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size: 14px;
    }
    .icons img{
        width: 25px;
    }
}
@media (max-width: 500px) {
    .footer{
        padding: 20px 5%;
    }
    .footer ul{
        grid-template-columns: auto;
        gap: 10px;
    }
}
